@font-face {
    font-family: logoFont;
    src: url(Fonts/Norse-Bold.otf);
}

@font-face {
    font-family: quoteFont;
    src: url(Fonts/Lugrasimo-Regular.ttf);
}

:root{
    box-sizing: border-box;
}


body{
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

section{
    display: flex;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: white;
}

p{
    font-family: quoteFont;
    font-weight: 300;
    line-height: 3rem;
    font-size: 23px;
}

.image-container{
    min-width: 40vw;
    min-height: 100vh;
    background: url(img/man-sitting-on-riverside.jpg) no-repeat center center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

input{
    border-radius: 5px;
    box-shadow: 2px 1px 1px 1px;
}

input:focus{
    outline: none;
    border: 1px blue solid;
    box-shadow: 3px 2px 3px 3px;
}

.logo-container{
    display: flex;
    justify-content: center;
    background-color: black ;
    opacity: 40%;
    min-width: 45vw;
    min-height: 13vh;
    box-shadow: 2px 2px 5px 5px;
}

.odin-logo{
    max-height: 140px;
    min-width: 120px;
}

.odinson{
    font-family: logoFont;
    color: white;
    font-size: 140px;
}

.credits{
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 12px;
    font-weight: 500;
}

.credits a{
    color: white;
}

form{
    min-height: 100vh;
    overflow: hidden;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: hidden;
    overflow: auto;
}

.form-details>div>div, h2{
    font-weight: 800;
    font-size: 18px;
    font-style: italic;
    color: black;
}

.form-field>h2{
    font-size: 25px;
}

.form-container{
    max-width: 60vw;
    overflow: hidden;
    margin: 0;
}


.form-details>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    flex-wrap: wrap;
    gap: 3rem;
}

.top-field{
    min-height: 30vh;
    background-color:rgba(245, 247, 243, 0.829);
    padding: 3rem 2rem 2rem 2rem;
}

.form-field{
    align-items: flex-start;
    box-shadow: 3px 3px 2px 1px rgba(136, 138, 134, 0.829);
    padding: 0 1rem;
    overflow: auto;    
}

fieldset.signup-field{
    min-height: 25vh;
    align-items: flex-start
}

button{
    border-radius: 8px;
    padding: 1em 2em;
    margin: 1rem 0 0;
    font-size: 1rem;
    font-family:fantasy;
    background-color: #596d48;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 1px 1px blur black;
    transition: scale 0.9ms;
}

button:hover{
    transform: scale(1.07);
}

button+div{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: quoteFont;
}